<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<!--Something added-->
<section>
    <article>
        <time datetime="">Publicado por Someone</time>
        <h1>About1</h1>
        <p>here you will find about of the general page(everything is a test 4 now)</p>
        <img src="https://i.pinimg.com/originals/3a/79/f4/3a79f4bcd20c0db7133ba4dfcbc804f6.jpg"/>
    </article>
</section>
<section>
    <article>
        <h2>About2</h2>
        <p>here you will find about of the general page(everything is a test 4 now again)</p>
    </article>
</section>

{% endblock%}