{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h3 class="display-4">Ventana Inicial</h3>
    <p class="lead">Hola :v</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dignissimos, natus nisi ad quidem eaque laborum
        ratione debitis magnam laboriosam molestiae vitae dolor esse vero error neque rem laudantium. Nulla!</p>
    <a class="btn btn-primary btn-lg" href="about" role="button">About</a>
</div>

{% endblock%}